.categories {
    margin-bottom: 78px;
}

.categories__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    margin-bottom: 38px;
}


@media (max-width: 1200px) {
    .categories {
        margin-bottom: 84px;
    }

    .categories__title {
        margin-bottom: 30px;
    }
}

@media (max-width: 780px) {}