.nav {
    display: flex;
    align-items: center;
}

.nav__btn {
    margin-right: 22px;
}

.nav__btn:last-child {
    margin-right: 0;
}

@media (max-width: 1200px) {
    .nav__btn {
        margin-right: 18px;
    }
}

@media (max-width: 620px) {}